<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - BCVP.OA</title>
    <meta http-equiv="content-type" content="txt/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <script src="/layuiadmin/layui/layui.js" charset="utf-8"></script>
    <script src="/layuiadmin/config.js?v=1.0.4" charset="utf-8"></script>
</head>
<body>
    <!--作业区**开始**-->
    @RenderBody()
    <!--作业区**结束**-->
</body>
</html>